<!doctype html>
<html ng-app="myApp">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="js/main.js"></script>


</head>
<body>
        <div>

            <input type="text" ng-model="yourName" placeholder="Enter a name here">
            <h1>Hello, {{yourName}}!</h1>
        </div>

        <div ng-controller="MyController">
            {{ person.name }}
        </div>
        <div ng-controller="ParentControler">
            <div ng-controller="ChildController">
                <input type="text" ng-model="person.name" placeholder="Name"></input>
                <a ng-click="SayHello()">Say Hello</a>
            </div>
            {{ person }}

        </div>
</body>
</html>